section {
    position: relative;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.anchor-point {
    position: absolute;
    top: 150px;
}


@media(max-width:766px) {
    .anchor-point {
        top: 0;
    }
}
